// Tipografia
$font: 'Montserrat', sans-serif;
$sizeDefault: 16px;

// Colors
$color-primary: #4CAF4F;
$color-secundary: #263238;
$info-color: #2194F3;
$tittle-color: #4D4D4D;
$text-color: #717171;

// Containers sizes
$container-big: 1200px;
